.mdl-card-wide {
    width: 100%;
}

.mdl-card__supporting-text {
    width: auto;
}

.table-wide {
    width: 100%;
}

.date-slider {
    width: 400px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}